name: Languages Bar
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: languages-bar.svg
          base: "" 
          

          plugin_languages: yes
          

          plugin_languages_indepth: no
          
    
          repositories_affiliations: owner, collaborator, organization_member
    
          plugin_languages_sections: most-used
          plugin_languages_details: lines, percentage
          plugin_languages_limit: 8

          plugin_languages_ignored: html, css, dockerfile, makefile 
          plugin_languages_colors: "github"
