name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          filename: github-metrics.svg
          user: Olena-Muliarchuk

          base: ""
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, dockerfile, makefile, shell
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_colors: "github"
          plugin_languages_details: percentage, bytes-size
          plugin_languages_threshold: 1%
